h1 {
  font-size: 18px;
  padding: 8px;
  text-align: center;
}

.nav {
  overflow: hidden;
}

.nav a {
  float: right;
  display: block;
  color: burlywood;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body {
  background: black;
  background-repeat: no-repeat;
  background-size: auto;
}
